<?xml version="1.0"?>
<!-- World depicting a simplified part of Trondheim harbor -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="usv_world">
    <scene>
      <sky>
        <clouds>
          <speed>0</speed>
        </clouds>
      </sky>
      <grid>false</grid>
      <origin_visual>false</origin_visual>
    </scene>

    <!-- Estimated latitude/longitude of Trondheim harbor from satellite imagery -->
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <world_frame_orientation>ENU</world_frame_orientation>
      <latitude_deg>63.439340</latitude_deg>
      <longitude_deg>10.399998</longitude_deg>
      <elevation>0</elevation>
      <!-- For legacy gazebo reasons, need to rotate -->
      <heading_deg>180</heading_deg>
    </spherical_coordinates>

    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose frame=''>-9.35 -10.43 2.92 0 0.27 0.40</pose>
        <view_controller>orbit</view_controller>
      </camera>
    </gui>

    <include>
      <uri>model://sun</uri>
    </include>

    <include>
      <pose> 0 0 0 0 0 0 </pose>
      <uri>model://ocean</uri>
    </include>

    <xacro:include filename="$(find usv_worlds)/worlds/simple_obstacles.xacro" />
    <xacro:simple_obstacles />
    
  </world>
</sdf>
