<?xml version="1.0"?>

<robot name="otter_part" xmlns:xacro="http://ros.org/wiki/xacro">
	
	<xacro:property name="x_com" value="0.00000000" /> <!-- com : center of mass -->
	<xacro:property name="y_com" value="0.00000000" /> <!-- com : center of mass -->
	<xacro:property name="z_com" value="0.00000000" /> <!-- com : center of mass -->
	
	<xacro:property name="x_size" value="1.0" /> 
	<xacro:property name="y_size" value="1.0" /> 
	<xacro:property name="z_size" value="1.0" />
	
	<xacro:property name="min_inertia" value="0.00001"/>
	
	<xacro:property name="mass" value="${min_inertia}" /> <!-- in kg-->
	
	<xacro:property name="ixx_com_cs" value="${min_inertia}" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	<xacro:property name="ixy_com_cs" value="0.0" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	<xacro:property name="ixz_com_cs" value="0.0" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	<xacro:property name="iyy_com_cs" value="${min_inertia}" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	<xacro:property name="iyz_com_cs" value="0.00" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	<xacro:property name="izz_com_cs" value="${min_inertia}" /> <!-- at center of mass aligned with coordinate system, kg*m^2-->
	
	<xacro:macro name="otter_part" params="parent name mesh translateX translateY translateZ rotateX rotateY rotateZ color">
		<joint name="${parent}_${name}_joint" type="fixed">
			<origin xyz="${translateX} ${translateY} ${translateZ}" 
							rpy="${rotateX} ${rotateY} ${rotateZ}" />
			<parent link="${parent}" />
			<child link="${parent}_${name}_part" />
		</joint>
		
		<link name="${parent}_${name}_part">
			<inertial>
				<mass value="${mass}" />
				<origin xyz="${x_com} ${y_com} ${z_com}" />
				<inertia ixx="${ixx_com_cs}" ixy="${ixy_com_cs}" ixz="${ixz_com_cs}"
					iyy="${iyy_com_cs}" iyz="${iyz_com_cs}" izz="${izz_com_cs}" />
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://otter_description/meshes/${mesh}.stl" />
				</geometry>
        <material name="${color}" />
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.001 0.001 0.001" /> <!--the collision boundary for parts are taken into account by collision boundary of the base_link-->
				</geometry>
			</collision>
		</link>
		
	</xacro:macro>
</robot>
