<?xml version="1.0"?>
<plugin xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="otter_gazebo_thruster_config" params="name">
    <thruster>
      <linkName>${name}_propeller_link</linkName>
      <propJointName>${name}_engine_propeller_joint</propJointName>
      <cmdTopic>${name}_thrust_cmd</cmdTopic>
      <!-- mappingType   0: linear 1: GLF 2: square(Otter) -->
      <mappingType>0</mappingType>
      <maxCmd>1.0</maxCmd>
      <!-- maxForceFwd and Rev for one thruster ref: theory_of_operation.pdf -->
      <maxForceFwd>50</maxForceFwd>
      <maxForceRev>-50</maxForceRev>
    </thruster>
  </xacro:macro>
</plugin>
